# API token generado en cms-una.gt.tc con permiso content.read sobre countries y results
NUXT_COMET_API_TOKEN=
# URL base de la instancia de Comet CMS del curso
NUXT_COMET_URL=http://cms-una.gt.tc
# Slug del workspace asignado al estudiante
NUXT_COMET_WORKSPACE=
